@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RalewayRegular/RalewayRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayRegular/RalewayRegular.woff") format("woff"), url("../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/RalewayBold/RalewayBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayBold/RalewayBold.woff") format("woff"), url("../fonts/RalewayBold/RalewayBold.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/RalewayLight/RalewayLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayLight/RalewayLight.woff") format("woff"), url(".../fonts/RalewayLight/RalewayLight.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/RalewaySemiBold/RalewaySemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewaySemiBold/RalewaySemiBold.woff") format("woff"), url("../fonts/RalewaySemiBold/RalewaySemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Rounded Mplus 1c";
  src: url("../fonts/RoundedMplus1c/RoundedMplus1c-Black.eot");
  src: local("Rounded Mplus 1c Black"), local("RoundedMplus1c-Black"), url("../fonts/RoundedMplus1c/RoundedMplus1c-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/RoundedMplus1c/RoundedMplus1c-Black.woff2") format("woff2"), url("../fonts/RoundedMplus1c/RoundedMplus1c-Black.woff") format("woff"), url("../fonts/RoundedMplus1c/RoundedMplus1c-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal	1;
}

@font-face {
  font-family: 'CarefreeCyrillic';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/CarefreeCyrillic/CarefreeCyrillic.eot?#iefix") format("embedded-opentype"), url("../fonts/CarefreeCyrillic/CarefreeCyrillic.woff") format("woff"), url("../fonts/CarefreeCyrillic/CarefreeCyrillic.ttf") format("truetype");
}
