body {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialised;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red;
}

body input:required:valid,
body textarea:required:valid {
  color: green;
}

.hidden {
  display: none;
}

section,
.main_head {
  position: relative;
  height: auto;
}

.main_head {
  min-height: 468px;
  background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.5) 0%, rgba(50, 50, 50, 0.2) 100%);
  background: -o-linear-gradient(45deg, rgba(0, 0, 0, 0.5) 0%, rgba(50, 50, 50, 0.2) 100%);
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.5) 0%, rgba(50, 50, 50, 0.2) 100%);
  z-index: 2;
}

.toggle_menu {
  height: 60px;
  width: 60px;
  position: fixed;
  z-index: 12;
  border: none;
  left: 20px;
  top: 20px;
  background-color: transparent;
}

.toggle_menu span {
  display: block;
}

.sandwich {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 13px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 15;
}

.sw-topper {
  position: relative;
  top: 0;
  width: 40px;
  height: 4px;
  background: white;
  border: none;
  -webkit-border-radius: 4px 4px 4px 4px;
          border-radius: 4px 4px 4px 4px;
  -webkit-transition: top 0.2s, -webkit-transform 0.5s;
  transition: top 0.2s, -webkit-transform 0.5s;
  -o-transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
  -webkit-box-shadow: 0 0 5px;
          box-shadow: 0 0 5px;
}

.sw-bottom {
  position: relative;
  width: 40px;
  height: 4px;
  top: 8px;
  background: white;
  border: none;
  -webkit-border-radius: 4px 4px 4px 4px;
          border-radius: 4px 4px 4px 4px;
  -webkit-transition: top 0.2s, -webkit-transform 0.5s;
  transition: top 0.2s, -webkit-transform 0.5s;
  -o-transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
  -webkit-transition-delay: 0.2s, 0s;
       -o-transition-delay: 0.2s, 0s;
          transition-delay: 0.2s, 0s;
  -webkit-box-shadow: 0 0 5px;
          box-shadow: 0 0 5px;
}

.sw-footer {
  position: relative;
  width: 40px;
  height: 4px;
  top: 16px;
  background: white;
  border: none;
  -webkit-border-radius: 4px 4px 4px 4px;
          border-radius: 4px 4px 4px 4px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 0.1s;
       -o-transition-delay: 0.1s;
          transition-delay: 0.1s;
  -webkit-box-shadow: 0 0 5px;
          box-shadow: 0 0 5px;
}

.sandwich.active .sw-topper {
  top: 9px;
  -webkit-transform: rotate(140deg);
      -ms-transform: rotate(140deg);
          transform: rotate(140deg);
  background: rgba(0, 0, 0, 0.9);
}

.sandwich.active .sw-bottom {
  top: 5px;
  -webkit-transform: rotate(-140deg);
      -ms-transform: rotate(-140deg);
          transform: rotate(-140deg);
  background: rgba(0, 0, 0, 0.9);
}

.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.top_menu {
  position: fixed;
  width: 100%;
  height: 95px;
  background-color: rgba(255, 255, 255, 0.99);
  z-index: 11;
  right: 0;
  top: 0;
  display: none;
}

.icon_list {
  float: right;
  padding: 1.6em 2em 0 6em;
}

.icon_list a {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  padding: 0 0.2em;
  margin: 0 15px;
}

.icon_list a:hover {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.icon_list a span {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 0.8em;
  font-weight: 700;
  padding-top: 0 8px;
}

.logo_wrap {
  display: table;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.logo_wrap .logo {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.logo_wrap .logo h1 {
  font-size: 50px;
  text-transform: uppercase;
  font-family: "Rounded Mplus 1c";
  margin: 0;
}

.logo__head {
  margin: 15px 0 0;
  font-size: 14px;
}

.logo__tel {
  font-size: 18px;
  margin: 0;
}

.logo__tel span {
  font-size: 22px;
}

.logo__time {
  font-size: 12px;
  margin: 0;
}

.logo__time span {
  font-size: 15px;
}

svg {
  z-index: 12;
  height: 300px;
  width: 300px;
}

.buttons {
  margin-top: 40px;
  vertical-align: middle;
  display: block;
  position: relative;
}

.button {
  padding: 0.8em 1.5em;
  border: 1px solid;
  width: 200px;
  height: 100px;
  -webkit-transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  -o-transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.button_sheff > .button_icon {
  position: absolute;
  left: 550px;
  font-size: 18px;
  -webkit-transform: translate3d(-40px, 2.5em, 0);
          transform: translate3d(-40px, 2.5em, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.button_sheff:hover .button_icon,
.button_sheff:hover > span {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

section {
  padding: 70px 0 90px;
}

.section-menu {
  min-height: 468px;
  z-index: 1;
}

.section__title {
  text-align: center;
  width: 100%;
  font-size: 50px;
  font-weight: normal;
  line-height: 30px;
  font-family: "CarefreeCyrillic";
  margin-bottom: 50px;
}

.section__title h2 {
  display: inline-block;
  font-size: 50px;
  margin: 0;
}

.section-menu__line-left-light {
  display: inline-block;
}

.section-menu__line-left-light svg {
  width: 80px;
  height: 40px;
  margin-right: 10px;
  vertical-align: middle;
}

.section-menu__line-rigth-light {
  display: inline-block;
}

.section-menu__line-rigth-light svg {
  width: 80px;
  height: 40px;
  margin-left: 10px;
  vertical-align: middle;
}

.section-menu__content ul, .section-menu__content li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.section-menu__content li {
  display: inline-block;
  text-transform: uppercase;
  line-height: 2;
  font-size: 0.85em;
  margin: 0 10px;
  cursor: pointer;
}

.section-menu__content ul {
  margin-top: 20px;
  margin-bottom: 20px;
}

.section-menu__content span {
  font-weight: bold;
}

.section-menu__content-grid {
  text-align: center;
}

.menu_item {
  display: none;
  padding: 0;
}

.menu_item img {
  width: 100%;
}

.menu_item .menu_item-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  vertical-align: top;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.menu_item:hover .menu_item-content {
  opacity: 1;
}

.menu_item h2 {
  padding: 110px 15px;
  margin: 15px;
  text-transform: uppercase;
  font-weight: 300;
}

.menu_item span {
  font-weight: 700;
}

.menu_descr {
  position: relative;
  width: auto;
  max-width: 850px;
  margin: auto;
  padding: 15px;
}

.menu_descr h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.content_menu .item_title {
  font-size: 1.3em;
  float: left;
  width: 80%;
  height: 35px;
  overflow: hidden;
}

.content_menu .item_price {
  float: right;
  width: 20%;
  height: 55px;
  font-size: 1.35em;
  text-align: center;
  padding-top: 10px;
}

.content_menu .item_price span {
  font-size: 0.75em;
}

.content_menu .item_description {
  float: left;
  width: 80%;
  height: 20px;
  overflow: hidden;
  font-size: 0.75em;
}

.content_menu .item_btn {
  text-align: center;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  margin-top: 8px;
}

.content_item {
  border-top: 1px dashed #000;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */
}

.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}

.mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-zoom-in.mfp-removing .mfp-with-anim {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0;
}

.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.gallary_item {
  text-align: center;
}

.gallary_item img {
  display: inline-block;
  width: 100%;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.next_button,
.prev_button {
  font-size: 100px;
  color: #fff;
  position: absolute;
  opacity: .6;
  -webkit-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
}

.next_button:hover,
.prev_button:hover {
  opacity: 1;
  -webkit-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
}

.next_button {
  right: 50px;
  top: 160px;
  z-index: 2;
}

.prev_button {
  left: 50px;
  top: 160px;
  z-index: 2;
}

.contact_box {
  margin-bottom: 20px;
  display: inline-block;
}

.contact_box h4 {
  display: inline-block;
  text-align: left;
  font-size: 14px;
  margin-bottom: 0;
  margin-left: 15px;
  vertical-align: top;
  text-transform: uppercase;
}

.contact_box .contact_icon {
  font-size: 40px;
  display: inline-block;
}

.contact_box p {
  margin: 0 0 10px 20px;
}

form button {
  float: right;
  line-height: 35px;
  padding: 0 20px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 20px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

form input,
form textarea {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  margin-top: 5px;
  font-size: 12px;
  background-color: transparent;
}

form input {
  line-height: 35px;
  text-indent: 15px;
}

form textarea {
  line-height: 20px;
  text-indent: 5px;
}

.text-danger {
  font-size: 12px;
}

.color_element {
  font-size: 18px;
}

.control-group {
  display: block;
  margin-bottom: 20px;
}

.review_item {
  text-align: center;
}

.review_item h4 {
  font-family: "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.review_item p {
  margin: 30px 0;
  display: inline-block;
  float: none;
  font-size: 15px;
}

#easynetshop-cart-default #enscart_wrapper {
  left: 20px;
  top: 150px;
  right: 1820px;
}

#enscart_image {
  width: 80px;
  height: 80px;
}

.easynetshop-cross-caption, .easynetshop-modal-caption {
  font-size: 25px;
  font-family: "Rounded Mplus 1c";
}

.easynetshop-modal-body {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}

.easynetshop-continue {
  font-family: "Raleway", sans-serif;
}

.easynetshop-bodyhide {
  padding-right: 0;
}

.main_footer {
  padding: 50px 0;
  font-size: 13px;
  font-weight: 400;
}
