body {
  color: #192428;
  letter-spacing: 1px;
}

a {
  color: #192428;
}

svg {
  fill: #fff;
}

.logo h1, .logo p {
  color: #fff;
  letter-spacing: 2px;
}

.button {
  color: #f3eeeb;
}

.button:hover {
  background-color: #337AB7;
}

.section__title h2 {
  color: #337AB7;
  letter-spacing: -1px;
}

.section__title svg {
  fill: #337AB7;
}

.section__title {
  color: #337AB7;
}

.section-about {
  background-color: #f3fafd;
}

.section-reviews,
.section-contacts {
  background-color: #f3eeeb;
}

.section__title {
  color: #fff;
  letter-spacing: -1px;
}

.section-menu__content li {
  color: #192428;
  letter-spacing: 2px;
}

.section-menu__content li.active {
  color: #fff;
  border-bottom: 1px solid #337AB7;
  border-top: 1px solid #337AB7;
}

.section-menu__content span {
  color: #337AB7;
}

.section-menu__title h4 {
  letter-spacing: 2px;
}

.menu_descr {
  background: #f3eeeb;
}

.item_btn {
  background-color: #337AB7;
  border: 1px solid #337AB7;
}

.item_btn:hover {
  background-color: #0099CC;
}

.menu_item-content h2 {
  border: 2px solid #337AB7;
  color: #fff;
}

.menu_item-content span {
  color: #337AB7;
}

form input:focus,
form textarea:focus {
  border: 1px solid #337AB7;
}

form input,
form textarea {
  letter-spacing: 1px;
}

form button {
  background-color: #337AB7;
  border: none;
  color: #fff;
  letter-spacing: 1px;
}

p,
body .main_footer,
.s_about li {
  color: #192428;
}

.color_element {
  color: #337AB7;
}

.color_bg {
  background-color: #337AB7;
}

.color_border {
  border-color: #337AB7;
}

.main_color_bg {
  background-color: #222;
}

.bg_ligth {
  background-color: #f3eeeb;
}

.bg_dark {
  background-color: #222;
  color: #fff;
}

.bg_dark .s_descr_wrapp .s_descr:after {
  background-color: #fff;
}

.bg_dark a {
  color: #fff;
}

.top_menu a:hover {
  color: #337AB7;
}

.top_menu a {
  letter-spacing: 3px;
}

.top_text p {
  color: #f3eeeb;
  letter-spacing: 4px;
}

.s_descr {
  letter-spacing: 5px;
}

.s_descr::after {
  background-color: #222;
}

section h3 {
  letter-spacing: 3px;
  color: #192428;
}

.s_about p:nth-child(even) {
  color: #337AB7;
}

.personal_header {
  letter-spacing: 2px;
}

.resume_container h3 {
  color: #222;
  letter-spacing: 1px;
}

.resume_item .year {
  background-color: #337AB7;
  color: #fff;
}

.resume_item .resume_description {
  letter-spacing: 1px;
}

.s_portfolio li {
  color: #192428;
  letter-spacing: 2px;
}

.s_portfolio li.active {
  color: #fff;
  border-bottom: 1px solid #337AB7;
  border-top: 1px solid #337AB7;
}

.port_item_cont h3 {
  color: #fff;
}

.port_item_cont a {
  border-color: #337AB7;
  color: #337AB7;
}

.main_footer a {
  color: #337AB7;
}

.contact_box h3 {
  color: #000;
  letter-spacing: 3px;
}

.contact_box .contact_icon {
  color: #337AB7;
}

.text-danger {
  color: #337AB7;
}
