body {
  color: #192428;
  letter-spacing: 1px;
}

a {
  color: #192428;
}

svg {
  fill: #fff;
}

.logo h1, .logo p {
  color: #fff;
  letter-spacing: 2px;
}

.button {
  color: #f3eeeb;
}

.button:hover {
  background-color: #337AB7;
}

.section__title h2 {
  color: #337AB7;
  letter-spacing: -1px;
}

.section__title svg {
  fill: #337AB7;
}

.section__title {
  color: #337AB7;
}

.section-menu,
.section-gallary {
  background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.6) 0%, rgba(50, 50, 50, 0.2) 100%);
  background: -o-linear-gradient(45deg, rgba(0, 0, 0, 0.6) 0%, rgba(50, 50, 50, 0.2) 100%);
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.6) 0%, rgba(50, 50, 50, 0.2) 100%);
}

.section-about,
.section-reviews,
.section-contacts {
  background-color: #f3eeeb;
}

.section__title {
  color: #fff;
  letter-spacing: -1px;
}

.section-menu__content li {
  color: #192428;
  letter-spacing: 2px;
}

.section-menu__content li.active {
  color: #fff;
  border-bottom: 1px solid #337AB7;
  border-top: 1px solid #337AB7;
}

.section-menu__content span {
  color: #337AB7;
}

.section-menu__title h4 {
  letter-spacing: 2px;
}

.menu_descr {
  background: #f3eeeb;
}

.item_btn {
  background-color: #337AB7;
  border: 1px solid #337AB7;
}

.item_btn:hover {
  background-color: #0099CC;
}

.easynetshop-continue {
  font-family: "Raleway", sans-serif;
  border: 1px solid #337AB7;
  background-color: #337AB7;
  color: #fff;
}

.easynetshop-continue:hover {
  background-color: #0099CC;
  color: #fff;
}

.menu_item-content h2 {
  border: 2px solid #337AB7;
  color: #fff;
}

.menu_item-content span {
  color: #337AB7;
}

form input:focus,
form textarea:focus {
  border: 1px solid #337AB7;
}

form input,
form textarea {
  letter-spacing: 1px;
}

form button {
  background-color: #337AB7;
  border: none;
  color: #fff;
  letter-spacing: 1px;
}

form button:hover {
  background-color: #0099CC;
}

.main_footer {
  color: #192428;
}

.main_footer a {
  color: #337AB7;
}

.bg_dark {
  background-color: #222;
  color: #fff;
}

.contact_box .contact_icon {
  color: #337AB7;
}

.top_menu a:hover {
  color: #337AB7;
}

.top_menu a {
  letter-spacing: 3px;
}
